DMHelper/src/resources/tables/table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="dmhelperlist">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="entry"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="entry">
        <xs:complexType mixed="true">
            <xs:attribute name="subtable" use="optional"/>
            <xs:attribute name="weight" use="optional" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
